# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/
ENV/

# Project Specific - LARGE DATA (Do NOT push these)
dataset/
data/
checkpoints/
outputs/

# IDE / System files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Antigravity / Agent# Dataset Transfers
*.zip
Thesis_Mini_Upload/
Thesis_Full_Audio_Upload/
ThesisWork/
Thesis_Audio_Full.zip

# Jupyter
.ipynb_checkpoints

# Logs
*.log
text_train_log.txt
